body{
    background-color: #511b9d;
    text-align: center;
}
label{
    width: 100px;
    display: inline-block;

}
.points{
    margin-bottom: 20px;
}
.single-trip{
    margin-bottom: 7px;
}
.return-trip{
    margin-top: 7px;
    margin-bottom: 7px;
}

button{
    margin-top: 20px;

}